@font-face {
  font-family: IRANSemi;
  src: url('../fonts/IRANSemiBold.eot');
  src: url('../fonts/IRANSemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/IRANSemiBold.woff') format('woff'),
       url('../fonts/IRANSemiBold.ttf') format('truetype');
  font-weight: normal;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
            user-select: none; 
}
.theme-default{
  color:#fff;
  background-color: #151515;
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex:1;
  
}
#content{
  display: flex;
  width: 100vw;
  height: 100vh;
}
*{
    font-family: 'IRANSemi'!important;
}
.container {
  display: flex;
  width:100%;
}
.column{
  flex-direction: column;
}
.cc{
  font-size:2em;
}
.top{
  height: 65px;
  width:100%;
  border-bottom: 1px solid #333
}
.top .item1 {
  width: 120px;
  justify-content: center;
  align-items: center;
  padding-left:5px;
  display: flex;
}
.top .item2 { 
  width: calc(100% - 370px);
  overflow: hidden;
}
.top .item3 { 
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-right:5px;
}

.center{
  height:84vh;
  width:100%;
}
.center>.item1 {
  height:100%;
}

.center>.item2 { 
  height:100%;
  display: flex;
  flex: 1;
} 
.center .main .item1 { 
  width: calc(100% - 130px);
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center .main .item2 {
  width: 125px;
  padding:10px;
}
.bottom{
  height:25px;
  width:100%;
  border-top: 1px solid #333
}
.animated{
  border-right: 1px solid #333;
  width:200px;
}
.animate{
  border-right: 1px solid #333;
  -webkit-animation:sideMenu ease-in 1;  
  -moz-animation:sideMenu ease-in 1;
  animation:sideMenu ease-in 1;

  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.2s;
  -moz-animation-duration:.2s;
  animation-duration:.2s;
}

@keyframes sideMenu{
  0% {
    width:0px;
    opacity:0;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:1;
    width:200px;
  }
}
.modal .MuiPaper-root{
  background:#25272b!important;
  color:#fff!important;
}
.modal .MuiBackdrop-root{
  background:transparent!important;
}
.MuiButton-root {
    text-transform: inherit!important;
}