 @font-face { 
  font-family: IRANSemi;
  src: url('../fonts/IRANSemiBold.eot');
  src: url('../fonts/IRANSemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/IRANSemiBold.woff') format('woff'),
       url('../fonts/IRANSemiBold.ttf') format('truetype');
   font-weight: normal;
 }
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(21, 21, 21);
  margin: 0;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
            user-select: none; 
  -webkit-overflow-scrolling: touch;
    background-image: url('../img/map.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}
.scrollbar::-webkit-scrollbar {
   width: 0 !important 
  }
.scrollbar { 
    scrollbar-width: none!important;
    -ms-overflow-style: none!important 
  }


.theme-default{
  color:#fff;
  background-color: rgba(21, 21, 21, 0.95);
}
#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex:1;
  
}
#content{
  display: flex;
  width: 100vw;
  height: 100vh;
}
*{
    font-family: 'IRANSemi'!important;
}
.container {
  display: flex;
  width:100%;
}
.column{
  flex-direction: column;
}
.cc{
  font-size:1.7em;
  text-shadow: 0px 0px 2px #b1b1b3;
}
.app-icon .cc:first-child {
  position: absolute;
  top:-9px;
  left:-6px;
}
.app-icon .cc:last-child{
  position: absolute;
  bottom:-9px;
  right:-14px;
}
.app-icon .currency-flag {
    width: 26px;
    height: 18px;
    border-radius: 5px;
}
.app-icon .currency-flag:first-child{
  position: absolute;
  top:0px;
  left:-6px;
}
.app-icon .currency-flag:last-child{
  position: absolute;
  bottom:0px;
  right:-14px;
}

.top{
  height: 65px;
  width:100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333
}
.top .item1 {
  justify-content: center;
  align-items: center;
  padding-left:5px;
  display: flex;
}
.top .item2 { 
  overflow: hidden;
  padding-right:55px;
  width: 100%;
  min-width: 300px;
}
.top .item3 { 
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-right:5px;
}

.center{
  height:calc(100% - 115px);
  width:100%;
}
.center>.item1 {
  height:100%;
}

.center>.item2 { 
  height:100%;
  display: flex;
  flex: 1;
} 
.center .main .item1 { 
  width: calc(100% - 130px);
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
  margin-left:10px
}
.center .main .item2 {
  width: 125px;
  padding:10px;
}
.bottom{
  width:100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #333;
}
.animated{
  border-right: 1px solid #333;
  width:250px;
}
.animate{
  border-right: 1px solid #333;
  -webkit-animation:sideMenu ease-in 1;  
  -moz-animation:sideMenu ease-in 1;
  animation:sideMenu ease-in 1;

  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.2s;
  -moz-animation-duration:.2s;
  animation-duration:.2s;
}

@keyframes sideMenu{
  0% {
    width:0px;
    opacity:0;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:1;
    width:250px;
  }
}

.modal .MuiBackdrop-root{
  background:transparent!important;
}
.MuiButton-root {
    text-transform: inherit!important;
}

.loading-dir{
  position: absolute;
  width:100%;
  height:100%;
  z-index: 99999;

}
.loading {
  position: absolute;
  float: left;
  bottom: 5px;
  left: 50%;
  height: 120px;
  padding: 0px;
  margin-top: -50px;
  margin-left: -70px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 99999;
}

@keyframes loading {
  0% {
    background-color: rgba(205, 10, 0, 0.2);
  }
  30% {
    background-color: rgba(250, 138, 0, 0.2);
  }
  50% {
    height: 100px;
    margin-top: 0px;
  }
  80% {
    background-color: rgba(145, 215, 0, 0.2);
  }
  100% {
    background-color: rgba(205, 10, 0, 0.2);
  }
}
/*@-moz-keyframes loading {
  50% { height: 100px; margin-top: 0px; }
}
@-o-keyframes loading {
  50% { height: 100px; margin-top: 0px; }
}
@keyframes loading {
  50% { height: 100px; margin-top: 0px; }
}*/
.loading>*{
  margin-right:3px;
}
.loading .loading-1 {
  height: 10px;
  width: 30px;
  background-color: rgba(0,0,0,.2);
  display: inline-block;
  margin-top: 90px;
  -webkit-animation: loading 2.5s infinite;
  -moz-animation: loading 2.5s infinite;
  -o-animation: loading 2.5s infinite;
  animation: loading 2.5s infinite;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.loading .loading-2 {
  height: 10px;
  width: 30px;
  background-color: rgba(0,0,0,.2);
  display: inline-block;
  margin-top: 90px;
  -webkit-animation: loading 2.5s infinite;
  -moz-animation: loading 2.5s infinite;
  -o-animation: loading 2.5s infinite;
  animation: loading 2.5s infinite;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.loading .loading-3 {
  height: 10px;
  width: 30px;
  background-color: rgba(0,0,0,.2);
  display: inline-block;
  margin-top: 90px;
  -webkit-animation: loading 2.5s infinite;
  -moz-animation: loading 2.5s infinite;
  -o-animation: loading 2.5s infinite;
  animation: loading 2.5s infinite;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.loading .loading-4 {
  height: 10px;
  width: 30px;
  background-color: rgba(0,0,0,.2);
  display: inline-block;
  margin-top: 90px;
  -webkit-animation: loading 2.5s infinite;
  -moz-animation: loading 2.5s infinite;
  -o-animation: loading 2.5s infinite;
  animation: loading 2.5s infinite;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.loading .loading-5 {
  height: 10px;
  width: 30px;
  background-color: rgba(0,0,0,.2);
  display: inline-block;
  margin-top: 90px;
  -webkit-animation: loading 2.5s infinite;
  -moz-animation: loading 2.5s infinite;
  -o-animation: loading 2.5s infinite;
  animation: loading 2.5s infinite;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.rotate{
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  display: none;
  position: fixed;
  top:0;
  left:0;
  background:#222;
  z-index: 9999999;
}

@media only screen and (orientation:portrait){
  .rotate {
    display:flex;
  }
}

@media only screen and (max-width: 900px) {
  .top{
    height: 56px;
  }
  .center{
    height:calc(100% - 95px);
    width:100%;
  }
  .center .main .item1 { 
    width: calc(100% - 110px);
  }
  .center .main .item2 {
    width: 95px;
  }
  .bottom{
    height:42px
  }
}
.swing-in-top-fwd{-webkit-animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both;animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both}

@-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}