@font-face {
  font-family: IRANSemi;
  src: url('../fonts/IRANSemiBold.eot');
  src: url('../fonts/IRANSemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/IRANSemiBold.woff') format('woff'),
       url('../fonts/IRANSemiBold.ttf') format('truetype');
  font-weight: normal;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
            user-select: none; 
}
.theme-default{
  background: #151515;
  color:#fff;
}
#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex:1;
}

*{
    font-family: 'IRANSemi'!important;
}
.container {
  display: flex;
  width:100%;
}
.column{
  flex-direction: column;
}
.cc{
  font-size:2em;
}
.c1{
  height: 10vh;
  width:100%;
  border-bottom: 1px solid #333
}
.c1 .item1 {
  width: 120px;
}
.c1 .item2 { 
  width: calc(100% - 320px);
  overflow: hidden;
}
.c1 .item3 { 
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.c2{
  height: 84vh;
  width:100%;
}
.c2 .item1 {
  height:100%;
}

.c2 .item2 ,.bg{ 
  height:100%;
  display: flex;
  flex: 1;
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 85%;
} 

.t1 .tab2 {
  width: 125px;
  padding:10px;
}
.t1 .tab1 { 
  width: calc(100% - 130px);
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item,.account{
  padding:0!important;
}
.account span{
  color:#f07000;
  font-size:.8rem;
}
.account p{
  color:#f07000;
  font-size:.9rem;
  font-weight: bold;
}
.animated{
  border-right: 1px solid #333;
  width:200px;
}
.animate{
  border-right: 1px solid #333;
  -webkit-animation:sideMenu ease-in 1;  
  -moz-animation:sideMenu ease-in 1;
  animation:sideMenu ease-in 1;

  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.2s;
  -moz-animation-duration:.2s;
  animation-duration:.2s;
}

@keyframes sideMenu{
  0% {
    width:0px;
    opacity:0;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:1;
    width:200px;
  }
}
.modal .MuiPaper-root{
  background:#25272b!important;
  color:#fff!important;
}
.modal .MuiBackdrop-root{
  background:transparent!important;
}